a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.board-table {
    width: 1170px;
    height: 695px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 5px 10px #e1e5ee;
}

.table {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    background-color: white !important;
    border-bottom: 1px solid #42454c;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    background-color: white !important;
    text-align: center;
}

thead {
    height: 40px;
}

thead tr th {
    border-style: solid;
    border-width: 2px 0 1px;
    border-color: #42454c;
}

th.column1 {
    width: 5%;
}

th.column2 {
    width:60%;
}

th.column3 {
    width: 15%;
}

th.column4 {
    width: 15%;
}

th.column5 {
    width: 5%;
}

tbody tr {
    border-bottom: 1px solid #e6e6e6;
    height: 28px;
}

tbody tr:last-child{
    border-bottom: 1px solid #42454c;
}

tbody tr:hover td,
tbody tr:hover td a{
    background-color: #f3f3f3 !important;
}

td {
    font-size: 13px;
}

td a {
    background-color: #fff;
}

.title1 {
    text-align: left;
}

.title1 a:hover {
    text-decoration: underline;
}

.listBtn {
    background-color: #fff !important;
    position: absolute;
    bottom: 11.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listBtn a{
    background-color: #fff;
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
    margin: 0px 4px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #999999
}

.listBtn a:hover,
.listBtn a:active {
    background-color: #42454c;
    color: #ffffff;
    border: 1px solid #42454c;
}

.listBtn .prev {
    width: 28px;
    height: 28px;
    background-image: url("../img/prev.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.listBtn .next {
    width: 28px;
    height: 28px;
    background-image: url("../img/next.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.listBtn .prev:hover {
    background-image: url("../img/prevwhite.svg");
}

.listBtn .next:hover {
    background-image: url("../img/nextwhite.svg");
}

.btn-area {
    position: absolute;
    bottom: 11.5%;
    right: 19%;
    margin-top: 5px;
}

.btn-area button {
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0px 8px;
    color: #fff;
    background: rgb(45, 45, 45);
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

fieldset {
    border: none;
}

.bind {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    margin: -1px;
    width: 0px;
    height: 0px;
    top: -9999px;
    font-size: 0;
}

.searchWrap {
    position: relative;
    width: 451px;
    margin: 20px auto 0;
}

.selectBox {
    width: 123px;
    height: 36px;
    border: 1px solid #42454c;
    background-color: #42454c;
}

.selectBox select {
    display: none;
}

.select-area {
    position: relative;
    display: block;
    width: 109px;
    height: 30px;
    padding-left: 8px;
    line-height: 30px;
    margin: 3px 0 0 3px;
    background-color: #fff;
    font-size: 14px;
    color: #42454c;
}

.select-area .inner {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 34px;
    height: 30px;
    background-color: #42454c;
}

.listImg {
    display: inline-block;
    position: static;
    width: 15px;
    height: 9px;
    margin: 10px 0 0 10px;
    background-color: #42454c;
    background-image: url("../img/listdown.svg");
    background-repeat: no-repeat;
}

.optionBox {
    position: absolute;
    width: 103px;
    box-sizing: content-box;
    padding: 6px 9px 5px;
    list-style: none;
    line-height: 21px;
    font-size: 14px;
    border: 2px solid #42454c;
    background-color: #fff !important;
    color: #42454c;
    z-index: 20;
}

.optionBox li {
    line-height: 21px;
    font-size: 14px;
    color: #42454c;
    font-weight: normal;
    background-color: #fff !important;
}

.searchKeyword {
    position: absolute;
    right: 8%;
    top: 0;
    height: 36px;
    margin-left: 5px;
    border: 1px solid #42454c;
    background: #42454c;
}

.searchKeyword .inner-search {
    margin: 3px 0 0 3px;
    width: 278px;
    background: #fff !important;
}

.searchKeyword .inner-search input {
    width: 260px;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    border: none;
    background: transparent;
    outline: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.searchKeyword button {
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 37px;
    height: 36px;
    background-color: #000000;
    background-image: url("../img/searchImg.svg");
    background-repeat: no-repeat;
    background-position: center;
}
