body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

textarea {
    width: 1025px;
    height: 480px;
    resize: none;
    margin-top: 15px;
}

.center{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 680px;
    background-color: white !important;
    box-shadow: 0 5px 10px #e1e5ee;
}

.area {
    width: 400px;
    position: relative;
    margin-top: 15px;
}

.s {
    width: 230px;
}

.r {
    position: absolute;
    left: 24%;
    top: 1.6%;
}

.area input {
    cursor: text;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    border: 1px solid #cecdce;
}

.area .insert-name {
    width: 230px;
    height: 35px;
}

.area .insert-pass {
    width: 230px;
    height: 35px;
}

.area .insert-title {
    width: 700px;
    height: 35px;
}

.area label {
    cursor: text;
    position: absolute;
    left: 10px;
    top: 9px;
    font-size: 18px;
}

.btn-area {
    display: inherit;
    text-align: right;
    margin-top: 5px;
}

.btn-area button {
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0px 10px;
    color: #fff;
    background: rgb(45, 45, 45);
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button[type="reset"]{
    color: rgb(45, 45, 45);
    background: #fff;
    border: 1px solid #2d2d2d;
}
